# general (redundant) requirements
numpy
torch
torchvision
nibabel
scikit-image
pydicom
scipy
pyvista
pycuda# --config-settings "CUDA_ENABLE_GL=True"
pynrrd
rich
opencv-python
seaborn
graphviz

# development requirements
black # proper python style
pytest


# pyrender
freetype-py
imageio
networkx
numpy
Pillow
pyglet==1.4.0a1
PyOpenGL
PyOpenGL_accelerate
six
trimesh
sphinx
sphinx_rtd_theme
sphinx-automodapi

