appdirs==1.4.4
contourpy==1.0.7
cycler==0.11.0
fonttools==4.38.0
graphviz==0.20.1
importlib-resources==5.12.0
Jinja2==3.1.2
kiwisolver==1.4.4
Mako==1.2.4
MarkupSafe==2.1.2
matplotlib==3.7.0
numpy==1.24.2
packaging==23.0
Pillow==9.4.0
platformdirs==3.0.0
pycuda==2022.2.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytools==2022.1.14
six==1.16.0
typing_extensions==4.5.0
zipp==3.14.0
