numpy
torch
torchvision
nibabel
scikit-image
pydicom
scipy
pyvista 
# pycuda # docs build machines don't have GPUs

flake8
Sphinx
pytest
pydata-sphinx-theme
sphinxcontrib-httpdomain
sphinxcontrib-mermaid
recommonmark
Pillow
